html {
    height: 100%;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(48,69,41);
    }

.parent {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    width: 335px;
    height: 335px;
    position: absolute;
    margin: auto;
    top: 50%;
    bottom: 50%;
    margin-left: 260px;
    margin-right: 335px;

}
.blank {
    background-color: rgb(178, 210, 136);
    border: solid 5px;
    transition: .2s;
}
.blank:hover {
    background-color: rgb(83,104,120);
    border-radius: 100px;
    scale: 1.5 1.5;
}

