html {
    height: 100%;
    width: 100%;
  }
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #E1E9E0, #D6D9EB);
}

.header {
  background-color: white;
  height: 30px;
  width: 250px;
  border: solid black 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  box-shadow: 4px 4px 6px black;
  border-radius: 7px;
}


.icon {
position: absolute;
top: 30px;
right: 30px;
transform: scale(3,3);
color: #582790;
}
.material-symbols-outlined:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  width: 400px;
  height: 400px;
  margin-top: 150px;
  left: 70px;
  border-radius: 50%;
  background-color: #5A97A2;
  max-width: 400px;
}
.circle:hover {
  transition: 1s;
  border-radius: 0%;
  background-color: #AA64DA;
}

.square {
  width: 400px;
  height: 400px;
  margin-top: 150px;
  right: 80px;
  background-color: #5A97A2;
  max-width: 400px;
}
.square:hover {
  transition: 1s;
  border-radius: 50%;
  background-color: #AA64DA;
}
